<main>
    <h2>{{ data.title ?? this.AuthorizationDialogDefaultTitle }}</h2>

    <h3>{{ data.message ?? this.AuthorizationDialogDefaultMessage }}</h3>

    <form (ngSubmit)="validateAdminUser()" [formGroup]="credentialsFormGroup">
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese usuario..." formControlName="username" autocomplete="off" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese contraseña..." formControlName="password" autocomplete="off" type="password">
        </mat-form-field>

        <button
            mat-flat-button
            color="accent"
            appRoundButton
            type="submit"
            [disabled]="credentialsFormGroup.invalid"
        >
            <mat-icon>vpn_key</mat-icon>&nbsp;
            Autorizar
        </button>
    </form>
</main>