<main>
    <div class="header" role="header">
        
        <!-- <div class="action-btn" >
            <button appRoundButton mat-flat-button color="accent" class="btn btn-info back" routerLink="/consorcio/report">
                <mat-icon>arrow_back</mat-icon> Volver
            </button>
        </div> -->
    </div>
    
    <!-- <h1>Carga de datos</h1> -->
    <mat-tab-group (selectedTabChange)="cargasService.tabIndex = $event.index">
        <mat-tab label="Edificio" ></mat-tab>
        <mat-tab label="Departamento"></mat-tab>
        <mat-tab label="Clientes"></mat-tab>
        <mat-tab label="Productos"></mat-tab>
    </mat-tab-group>

    <div>
    @switch(cargasService.tabIndex) {
        @case(0) {  <app-buildings-list></app-buildings-list> }       
            
        @case(1) {  <app-appartment-list></app-appartment-list> }
            
        @case(2) {   <app-client-list></app-client-list> }
        
        @case(3) {   <app-product-list></app-product-list>}
    }
    </div>
        

</main>
