<main>
    <h1>Carga de Usuarios</h1>
<!--
    <form [formGroup]="formUserListGroup">




        <section class="actions-container">
            <div class="actions-filters">
                 <button
                    appRoundButton
                    mat-stroked-button
                    color="primary"
                    class="btn-small"
                    (click)="formUserListGroup.reset()"
                >
                    <mat-icon>clear</mat-icon>&nbsp;
                    Limpiar
                </button> 

                <button
                    appRoundButton
                    mat-flat-button
                    color="accent"
                    class="btn-small"
                    type="submit"
                    [disabled]="formUserListGroup.invalid"
                    (click)="searchUser()"
                >
                    <mat-icon>send</mat-icon>&nbsp;
                    Enviar
                </button>

            </div>
        </section>
   
    </form>

 -->

    <section class="mat-elevation-z4" [@inOutAnimation]>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Usuarios</mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>

                <app-dynamic-table
                *ngIf="listUsers && listUsers!.length > 0; else noUsers"
                    [data]="listUsers"
                    [tableDefinition]="tableDefinition"
                    [columnFormaters]="columnFormaters"
                    [useFilters]="true"
                    [customColumnComponents]="customColumnComponents"
                    [updateSource]="tableUpdateSource.asObservable()"
                    [borderRadius]="'0.5em'"
                >
                </app-dynamic-table>

            <ng-template #noUsers>
                <h2 class="empty-message">No hay Usuarios</h2>
            </ng-template>
        </mat-expansion-panel>
        </mat-accordion>
    </section>

</main>
