<main>
    <h1>Reporte de Cupos</h1>

    <form [formGroup]="formRenditionListGroup" (ngSubmit)="searchCupo()">


        <section class="filters-container" >

            <mat-form-field appearance="fill" color="primary" >
                <mat-label>Fecha de los cupos</mat-label>
                <mat-date-range-input [rangePicker]="deliveryDate" [max]="today">
                    <input matStartDate placeholder="" formControlName="fechaDesdeControl"  name="deliveryDateFrom" autocomplete="off" readonly >
                    <input matEndDate placeholder="" formControlName="fechaHastaControl" name="deliveryDateTo" autocomplete="off" readonly >
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
                <mat-date-range-picker #deliveryDate></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sucursal</mat-label>
                <input type="text"
                       placeholder="Ingrese Sucursal"
                       aria-label="Sucursal"
                       matInput
                       formControlName="sucursalControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let suc of sucursal$ | async" [value]="suc.id_suc">
                    {{suc.id_suc}} - {{suc.descripcion}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </section>


        <section class="actions-container">
            <div class="actions-filters">
                <!-- <button
                    appRoundButton
                    mat-stroked-button
                    color="primary"
                    class="btn-small"
                    type="button"
                    (click)="formRenditionListGroup.reset()"
                >
                    <mat-icon>clear</mat-icon>&nbsp;
                    Limpiar
                </button> -->

                <button
                    appRoundButton
                    mat-flat-button
                    color="warn"
                    class="btn-small"
                    type="submit"
                    [disabled]="formRenditionListGroup.invalid"
                >
                
                    <mat-icon>send</mat-icon>&nbsp;
                    Enviar
                </button>

            </div>
        </section>
    </form>

    <section class="mat-elevation-z4">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Cupos</mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>

                <app-dynamic-table 
                    *ngIf="cuposHistoricos && cuposHistoricos.length > 0; else noCuposHistoricos"
                    [data]="cuposHistoricos"
                    [tableDefinition]="tableDefinition"
                    [columnFormaters]="columnFormaters"
                    
                    [updateSource]="tableUpdateSource.asObservable()"
                    [borderRadius]="'0.5em'"
                    [useFilters]="false"
                    [expandableRows]="false"
                    
                >
                <!-- [customColumnComponents]="customColumnComponents"
                    [itemDetailComponent]="itemDetailComponent" -->
                </app-dynamic-table>

            <ng-template #noCuposHistoricos>
                <h2 class="empty-message">No hay cupos</h2>
            </ng-template>
        </mat-expansion-panel>
        </mat-accordion>
    </section>
    

</main>
