<!-- Botón tres puntitos/menu -->
<button
    mat-icon-button
    (click)="$event.stopPropagation()"
    [matMenuTriggerFor]="menu"
>
    <mat-icon>more_vert</mat-icon>
</button>

<!-- Al hacer click despliega este menú -->
<mat-menu #menu="matMenu">
    <button
        *ngFor="let option of componentData?.options"
        mat-menu-item
        (click)="option?.optionFn(data)"
    >
        <mat-icon *ngIf="option.icon">{{ getIcon(option) }}</mat-icon>
        <span>{{ getDescription(option) }}</span>
    </button>
</mat-menu>
