<mat-card>
    <mat-card-content>
        <div style="max-height: 90%; overflow-y: auto;">
            <mat-accordion>
                <ng-container *ngFor="let navbarItem of navbarItems">
                    <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i [ngClass]="navbarItem.icon"></i>&nbsp;
                                {{ navbarItem.description }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-nav-list>
                            <ng-container *ngFor="let navigationItem of navbarItem.navigationItems">
                                <a mat-list-item (click)="navigate(navigationItem)" [ngClass]="navigationItem.checked ? 'highlight' : ''">
                                    <i [ngClass]="navigationItem.icon"></i>
                                    {{ navigationItem.description }}
                                </a>
                            </ng-container>
                        </mat-nav-list>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </div>
    </mat-card-content>
</mat-card>