$font-size: 11px;

main {
    cursor: pointer;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 0.25rem;
    margin-bottom: 0.15rem;
}

.strings-container {
    margin-right: 10px;
}

.mat-icon {
    width: $font-size;
    height: $font-size;
    line-height: $font-size;
    font-size: $font-size;
}

p {
    font-size: $font-size;
    line-height: 11px;
    margin: 0;
}

p:not(:last-child) {
    margin-bottom: 0.25rem;
}
