main {
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    height: 100%;
    box-sizing: border-box;
    width: 100%;

    i {
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
    }
}