<main>
    <div class="header" role="header">
        <h1>Gestión de edificios</h1>
        <button appRoundButton mat-flat-button color="primary" class="btn btn-primary" (click)="openDialogCreatebuilding()">
            <mat-icon>add</mat-icon> Agregar edificio
        </button>
    </div>

    <app-buildings-list-filters (onFiltersChanged)="onFiltersChanged($event)"></app-buildings-list-filters>
    <div class="table-container" *ngIf="building$ | async as buildings">
        <app-dynamic-table *ngIf="buildings.length > 0; else tableLoader"
        [data]="buildings"
        [borderRadius]="'10px'"
        [tableDefinition]="tableDefinition"
        [customColumnComponents]="customComponents"
        [columnFormaters]="columnFormaters"
        [columnStyles]="columnStyles"
        [usePagination]="true"
        [useFilters]="true"
        [useSorting]="true"
        [useAutoComplete]="true"
        [notFilteredColumns]="[0,4,5]"
        [pageSize]="10"
        [updateSource]="buildingsUpdateSource.asObservable()"
        (dataFilterEvent)="handleFilteredData($event)"
        >
        </app-dynamic-table>
        <ng-template #tableLoader>
            <app-table-loader *ngIf="loading; else tableNoResult"
            [backgroundColor]="'var(--color-card-fade)'"
            [borderRadius]="'4px'"
            [columns]="6"
            [rows]="1"
            ></app-table-loader>
            
            <ng-template #tableNoResult>
                <p class="no-results">NO SE ENCONTRARON EDIFICIOS</p>
            </ng-template>
        </ng-template>
    </div>
</main>


 