input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filters-container {
    display: grid;
    gap: 0.35rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 1rem;
}
.actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.filters-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
        margin-right: 12px;
    }
}
button {
    ::ng-deep.mat-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.btn-small {
    ::ng-deep.mat-button-wrapper {
        height: 30px;
    }
}