@use "../../../../variables" as var;


$profile-image-size: 25vh;

main {
    padding: var.$container-padding; 

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 5px;
    
        .action-btn{
    
            button{
                margin-left: 18px;
    
                .back {
                    float: right;
                }
            }
        }
    }

    mat-tab-group{

        ::ng-deep.mat-mdc-tab-body-wrapper{
            margin: 10px auto;
            border-radius: 8px;
            width: -webkit-fill-available;
            text-align: -webkit-center;
        }
    }

    mat-card{
        margin: 10px auto;
        width: max-content;
    }

    mat-form-field {
        padding: 10px;

        .example-card {
            max-width: 400px;
            margin-bottom: 8px;
          }
    }
    

    .filters-container {
        display: grid;
        gap: 0.35rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 1rem;
        border-radius: 8px;
        padding: 1rem;

        /* .tipe-form-field{
            
        } */

        

        
        .detail-step {
            align-items: flex-start !important;

            .empleado-information {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                height: 100%;

            }
  
        }
        
    }

    .empleado-detail {
        text-align: start;
        padding: 20px;
        
        .title-space{
            padding-top: 20px;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 1em;
        }

        button {
            position: absolute;
            bottom: 20px;
            right: 30px;
        }

        
    }

    .observation-form-field{
        width: 90vw;
        padding-left: 3vw;
    }

    .label-input{
        margin: 40px !important;
    }

    .profile-image-container {
        min-width: $profile-image-size;
        min-height: $profile-image-size;
        margin-right: 1rem;
        border-radius: 10px;
        
    
        img {
            width: $profile-image-size !important;
            height: $profile-image-size !important;
        }
    
        .mat-card-image{
            border-radius: 0.5em;
        }
    }

    .actions-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin: 1em;
    
        .actions-filters {
            margin-left: auto;

            button:not(:last-child) {
                margin-right: 0.5rem;
            }
        }

        .first-option {
            ::ng-deep.mat-option-text {
                color: var(--color-text-fade);
            }
        }

        .btn-small {
            ::ng-deep.mat-button-wrapper {
                height: 30px;
            }
        }

        .mat-form-field {
            font-size: 12px;
            
            ::ng-deep.mat-form-field-flex {
                padding: 5px 10px 0px 10px;
            }
        }

        button {
            ::ng-deep.mat-button-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .no-results{
        text-align: center;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: center;
        margin-bottom: 1rem;
    
        h1 {
            margin: 0;
        }
    
        .dash_card{
            width: -webkit-fill-available;
            
        }
    }


    /* Chrome, Safari, Edge, Opera */
    input[matinput]::-webkit-outer-spin-button,
    input[matinput]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[matinput][type=number] {
    -moz-appearance: textfield;
    }
}
