<main>
    <img
        src="../../../../../assets/blobs/consorcioX.png"
        class="logo"
    >
    
    <h1>Ingreso a AC</h1>
    <h3>Administracion de consorcios</h3>

    <div class="inputs-container">
        <!-- <app-cool-input 
            [icon]="'person'"
            [placeholder]="'Ingrese usuario'"
            [fontSize]="'16px'"
            [iconSize]="'32px'"
            [label]="'Usuario'"
            [type]="'text'"
            [onKeyDownCallback]="keyDownCallback"
            [inputControl]="formLoginGroup.controls.userControl"
            
        ></app-cool-input>
        <app-cool-input
            [icon]="'vpn_key'"
            [placeholder]="'Ingrese contraseña'"
            [fontSize]="'16px'"
            [iconSize]="'32px'"
            [label]="'Contraseña'"
            [type]="'password'"
            [onKeyDownCallback]="keyDownCallback"
            [inputControl]="formLoginGroup.controls.passwordControl"
            
        ></app-cool-input> -->

        

        <ng-container *ngIf="authenticationService.getIsAutenticated() | async; else loggedOut">
              

            <button
                class="btn-large btn-round"
                mat-flat-button
                color="danger"
                (click)="logOut()">
                Salir
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button 
                class="btn-large btn-round"
                mat-flat-button
                color="accent"
                (click)="authenticationService.login()">
                Ingresar
            </button>
          </ng-template>
        <!-- <button 
            class="btn-large btn-round"
            mat-flat-button
            color="accent"
            (click)="signIn()"
            [disabled]="formLoginGroup.invalid"
        >   
            <mat-spinner *ngIf="fetching; else displayText" diameter="32"></mat-spinner>
            <ng-template #displayText>
                Ingresar
            </ng-template>
        </button> -->
    </div>
</main>
