main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px;
    box-sizing: border-box;
}

i {
    color: var(--color-accent);
}

h1, h3 {
    text-align: center;
    margin: 0;
}

i {
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
    color: var(--color-text);
}

h3 {
    margin-bottom: 2rem;
    color: var(--color-text-fade);
}
